/* ---------- Montserrat Font ---------- */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #e6e8ed;
  color: #666666;
  font-family: "Montserrat", sans-serif;
}

.material-symbols-outlined {
  vertical-align: middle;
  line-height: 1rem;
}

.text-primary {
  color: #666666;
}

.text-blue {
  color: #246dec;
}

.text-red {
  color: #cc3c43;
}

.text-green {
  color: #367952;
}

.text-orange {
  color: #f5b74f;
}

.font-weight-bold {
  font-weight: 600;
}

.grid-container {
  display: grid;
  grid-template-columns: 26rem 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 3fr;
  grid-template-areas: 
  "sidebar header header header"
  "sidebar main main main";
  height: 100vh;
}


/* ---------- HEADER ---------- */
.header {
  grid-area: header;
  height: 7rem;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0rem 3rem 0rem 3rem;
  box-shadow: 0rem 0.6rem 0.7rem -0.4rem rgba(0, 0, 0, 0.2);
}

.menu-icon {
  display: none;
}
/* ---------- END HEADER ---------- */


/* ---------- SIDEBAR ---------- */
#sidebar {
  grid-area: sidebar;
  height: 100%;
  background-color: #21232d;
  color: #9799ab;
  overflow-y: auto;
  transition: all 0;
  -webkit-transition: all 0.5s;
}

.sidebar-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 2rem 2rem 2rem;
  margin-bottom: 3rem;
}

.sidebar-title > span {
  display: none;
}

.sidebar-brand {
  margin-top: 1.5rem;
  font-size: 2rem;
  font-weight: 700;
}

.sidebar-list {
  padding: 0rem;
  margin-top: 1.5rem;
  list-style-type: none;
  font-size: 1.6rem;
}

.sidebar-list-item {
  padding: 2rem 2rem 2rem 2rem;
}

.sidebar-list-item > a {
  color: inherit; 
  text-decoration: none; 
  cursor: pointer; 
}

.sidebar-list-item > a:focus,
.sidebar-list-item > a:hover {
  text-decoration: none; 
  outline: none; 
}

.sidebar-list-item:hover {
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

.sidebar-responsive {
  display: inline !important;
  position: absolute;
  z-index: 10;
}
/* ---------- END SIDEBAR ---------- */


/* ---------- MAIN ---------- */
.main-container {
  grid-area: main;
  overflow-y: auto;
  padding: 2rem 2rem;

}

.main-title {
  display: flex;
  justify-content: space-between;
}

.main-title > p {
  font-size: 2rem;
}

.main-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2rem;
  margin: 2rem 0rem;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 2.5rem;
  background-color: #ffffff;
  box-sizing: border-box;
  border: 0.1rem solid #d2d2d3;
  border-radius: 0.5rem;
  box-shadow: 0rem 0.6rem 0.7rem -0.4rem rgba(0, 0, 0, 0.2);
}

.card:first-child {
  border-left: 0.7rem solid #246dec;
}

.card:nth-child(2) {
  border-left: 0.7rem solid #f5b74f;
}

.card:nth-child(3) {
  border-left: 0.7rem solid #367952;
}

.card:nth-child(4) {
  border-left: 0.7rem solid #cc3c43;
}

.card > span {
  font-size: 2rem;
  font-weight: 600;
}

.card-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-inner > p {
  font-size: 1.8rem;
}

.card-inner > span {
  font-size: 3.5rem;
}

.charts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.charts-card {
  background-color: #ffffff;
  margin-bottom: 2rem;
  padding: 2.5rem;
  box-sizing: border-box;
  -webkit-column-break-inside: avoid;
  border: 0.1rem solid #d2d2d3;
  box-shadow: 0rem 0.6rem 0.7rem -0.4rem rgba(0, 0, 0, 0.2); 
}

.chart-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.2rem;
  font-weight: 600;
}
/* ---------- END MAIN---------- */


/* ---------- MEDIA QUERIES ---------- */

/* Medium <= 992px */
@media screen and (max-width: 99.2rem) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas: 
    "header"
    "main";
  }

  #sidebar {
    display: none;
  }

  .menu-icon {
    display: inline;
  }

  .sidebar-title > span {
    display: inline;
  }
}
/* End Medium <= 992px */



/* Small <= 768px */
@media screen and (max-width: 76.8rem) {
  .main-cards {
    grid-template-columns: 1fr;
    gap: 1rem;
    margin-bottom: 0rem;
  }

  .charts {
    grid-template-columns: 1fr;
    margin-top: 3rem;
  }
}
/* End Small <= 768px */



/* Extra Small <= 576px */
@media screen and (max-width: 57.6rem) {
  .header-left {
    display: none;
  }
}
/* End Extra Small <= 576px */



/* ---------- END MEDIA QUERIES ---------- */
